  
        .container{
            border: 2px solid red;
            box-shadow: 2xp 2px 2px red;
            margin-bottom: 20px;
            padding: 20px;
            position: relative;
        }
        dl{
            display: grid;
            grid-template-columns: 6fr 6fr;  
        }
        .flat{
            border-radius: 100px;
            padding: 10px;
            border: 1px solid red;
            background-color: yellow;
            width: 40px;
        }
        dt{
            background-color: gray;
            color: white;
            margin-bottom: 10px;
            padding: 10px;
        }
  
        .container{
            background-color: none;
        }
        button{
            display: none;
        }
        .flat{
            display: none;
        }
        dt{
            color: black;
        }
    
   